.discComp{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 650px;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 50px;
    min-height: 500px;
}

.discCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 650px;
    height: 120px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: grey 0px -1px 10px;
}

.details{
    display: flex;
    flex-direction: row;
}

.user{ 
    padding-right: 10px;
}

.time{
    color: grey;
}

.messages{
    background-color: white;
    min-height: 50px;
    padding: 15px;
}

.question{
    background-color: #FBFAFA;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    min-height: 25px;
}
.threadCont{
    width: 650px;
    display: flex;
    flex-direction: row;
}

.threadReply{
    width: 650px;
    display: flex;
    flex-direction: row-reverse;

}

.thread{
    display: flex;
    width: 450px;
    padding: 0px;
    border-radius: 5px;
    min-height: 20px;
    border: 1px solid lightgrey;
    margin: 5px;
}

.reply{
    border-left: solid 8px #324476;
}

.alignRight{
    width: 50%;
}

.images{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.drops{
    display: flex;
    flex-direction: row;
}

.at{
    margin: 0px;
}

.lists{
    margin-left: 10px;
    margin-right: 10px;
}