.discComp{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 650px;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 50px;
    min-height: 500px;
}

.details{
    display: flex;
    flex-direction: row;
}

.user{ 
    padding-right: 10px;
}

.time{
    color: grey;
}

.messages{
    background-color: white;
    min-height: 50px;
    padding: 15px;
}

.question{
    background-color: #FBFAFA;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    min-height: 25px;
}
.threadCont{
    width: 650px;
    display: flex;
    flex-direction: row;
}

.threadReply{
    width: 650px;
    display: flex;
    flex-direction: row-reverse;
    border-left: solid 3px #324476;
}

.thread{
    display: flex;
    width: 450px;
    padding: 0px;
    border-radius: 5px;
    min-height: 20px;
    border: 1px solid lightgrey;
    margin: 5px;
}

.alignRight{
    width: 50%;
}