.cardComp{
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 500px;
    border: 1px solid grey;
    border-radius: 15px;
}

.cardLeft{
    flex:1;
}

.cardRight{
    display: flex;
    flex:3;
    flex-direction: column;
    background-color: white;
    color: navy;
    border-radius: 10px;
    margin: 15px;
}

.buttons{
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
}

.header{
    background-color: lightgrey;
    margin: 5px;
    border-radius: 5px;
    height: 25px;

}

.contents{
    background-color: lightgrey;
    margin: 5px;
    height: 75px;
    border-radius: 5px;

}

.hideCont{
    display: none;
}

.displayCont{
    display: flex;
    overflow-y: scroll;
}