.cardComp{
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 650px;
    box-shadow: lightgrey 5px 0px 15px;
    border-radius: 15px;
    padding: 50px;
    height: 150px;
    font-family: 'Barlow';
}

.cardLeft{
    flex:1;
    display: flex;
    flex-direction: column;
    margin: 25px;
    color: #324476;
    
}

.month{
    font-size: 25px;
}

.day{
    font-size: 75px;
}

.cardRight{
    display: flex;
    flex:4;
    flex-direction: column;
    background-color: white;
    color: #324476;
    border-radius: 10px;
    margin: 15px;
    height: 150px;
}
.cardRightD{
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#calendar{
    height: 50%;
}

.buttons{
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
}

.header{
    background-color: #F4DD8F;
    color: #324476;
    margin: 1px;
    border-radius: 5px;
    height: 25px;
    padding: 5px;

}

.contents{
    margin: 5px;
    min-height: 50px;
    border-radius: 5px;
    padding: 5px;

}

.title{
    font-size: 25px;
}

.hideCont{
    display: none;
}

.displayCont{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    height: 250px;
}