.nav{
    background-color: white;
}

.dp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: white;
    padding: 5px;
}
.logout{
    margin-top: 50px;
}

.dpName{
    font-size: 15px;
    color: gray;
}
