.nav{
    background-color: white;
}

.dp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-bottom: 50px;
    padding: 5px;
    padding-top: 20px;
    background-color:white;
}
.logout{
    margin-top: 100px;
    background-color: white;
    color: grey;
}

.dpName{
    font-size: 15px;
    color: black;
}

.addClass{
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.class{
    border-left: 5px solid #F7D86C;
    padding: 10px;
    padding-left: 25px;
    width:100px;
    background-color: white;
}

