.subBut{
    background-color: #324476;
    color: white;
    border-radius: 5px;

}

.normBut{
    background-color: grey;
    color: white;
    border-radius: 5px;

}

.displayBut{
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    width: 25px;
    height: 25px;
}