.subBut{
    background-color: navy;
    color: white;
    border-radius: 5px;

}

.normBut{
    background-color: grey;
    color: white;
    border-radius: 5px;

}

.displayBut{
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}