.left{
    border-radius: 25px;
    width: 750px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    background-color: #79A6C9;
    height: 1010px;
    font-family: 'Barlow';
    
}

.dCont{
    overflow-y: scroll;
     max-height: 500px;

}
.dCont::-webkit-scrollbar {
    width: 0px;
  }